<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add connectionString="Data Source=GERMAN-PC\SQLEXPRESS;Initial Catalog=LicenciasDB;Integrated Security=True" 
         name="DBSqlServer" 
         providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>